<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>宇景后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="layui" class="x-body">
    <form class="layui-form">
        <input hidden name="id" :value="support.id">
        <div class="layui-form-item">
            <label for="text" class="layui-form-label">
                <span class="x-red">*</span>支持内容
            </label>
            <textarea class="layui-textarea" id="text">
            </textarea>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
               修改
            </button>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['form', 'layer','layedit'], function () {
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer,layedit=layui.layedit;
        var text;
        var app = new Vue({
            el: '#layui',
            data: {
                support:"",
            },
            beforeMount: function () {
                var id = parent.layer.idnum;
                this.getSupportById(id);
            },
            methods: {
                getSupportById:function (id) {
                    $.ajax({
                        type: 'GET',
                        url: '/support/getSupport',
                        dataType: 'json',
                        data: {
                            id:id,
                        },
                        async: true,
                        success: function (res) {
                            if (res.code == 403) {
                                layer.msg(res.msg)
                                return;
                            }
                            app.support = res.data;
                            $("#text").html(app.support.text)
                            layedit.set({
                                uploadImage: {
                                    url: '/upload' //接口url
                                    ,type: 'POST' //默认post
                                }
                            })
                            text = layedit.build('text',{
                                tool: ['strong', 'italic', 'underline', '|','left', 'center', 'right','image']
                            });
                        }
                    })
                }
            }
        })

        //监听提交
        form.on('submit(add)', function (res) {
            res.field.text = layedit.getContent(text)
            res.field.content = layedit.getText(text)
            // 发异步，把数据提交
            $.ajax({
                type: 'POST',
                url: '/support/addSupport',
                data: res.field,
                async: true,
                success: function (res) {
                    if (res.code == 200) {
                        layer.alert(res.msg, {icon: 6}, function () {
                            window.location.reload();
                        });
                    } else if (res.code == 403) {
                        layer.msg(res.msg);
                        return;
                    }
                }
            })
            return false;
        });
    });
</script>
</html>