<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>宇景后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form id="form" class="layui-form">
        <div class="layui-form-item">
            <button type="button" class="layui-btn" id="upload">
                <i class="layui-icon">&#xe67c;</i>单视频上传
            </button>
        </div>
        <div id="video"></div>
        <div id="imgSmallView"></div>

        <!--<div class="layui-form-item">-->
        <!--<button type="button" class="layui-btn" id="upload">-->
        <!--<i class="layui-icon">&#xe67c;</i>单视频上传-->
        <!--</button>-->
        <!--<div id="div"></div>-->
        <!--<div id="imgSmallView"></div>-->
        <!--</div>-->
        <button class="layui-btn" lay-filter="add" lay-submit="">
            提交
        </button>
    </form>
</div>
</body>
<script>
    function createIMG() {
        var scale = 0.25,
            video = $('#video').find('video')[0],
            canvas = document.createElement("canvas"),
            canvasFill = canvas.getContext('2d');

        canvas.width = video.videoWidth * scale;
        canvas.height = video.videoHeight * scale;
        canvasFill.drawImage(video, 0, 0, canvas.width, canvas.height);
        var src = canvas.toDataURL("image/jpeg");
        $('#imgSmallView').html('<img id="imgSmallView" src="' + src + '" alt="预览图" />');
        $('#form').append("<input hidden name='imgUrl' value='" + src + "'/>")
    }

    layui.use(['layer', 'form', 'upload'], function () {
        var layer = layui.layer, form = layui.form, upload = layui.upload;
        var upload = upload.render({
            elem: '#upload'
            , url: '/upload',
            accept: 'video',
            acceptMime: 'video/*'
            , done: function (res, index, upload) {
                if (res.code == 0) {//上传成功
                    $('#video').html("<video style='height: 400px;width: 400px' src=\"" + res.data.src + "\" controls=\"controls\">");
                    $('#form').append("<input hidden name='img' value='" + res.data.src + "'/>")
                    setTimeout(function () {
                        createIMG();
                    }, 2000);
                }
            } //code为后台传回来的数据，具体多少自己定，
            //后台只能传回json格式数据，不然会走error函数；
            , error: function (index, upload) {
                console.log("index:" + index)
                console.log("upload:" + upload)
            }
        });
        form.on('submit(add)', function (res) {
            console.log(res.field)
            if (res.field.img == null) {
                layer.msg("请上图视频后提交");
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/video/add',
                data: res.field,
                async: true,
                success: function (res) {
                    if (res.code == 200) {
                        layer.alert(res.msg, {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload();
                        });
                    } else if (res.code == 403) {
                        layer.msg(res.msg);
                        return;
                    }
                }
            })
            return false;
        })
    })

    function wait() {
        layer.alert("上传中~~请稍等~~", {time: 4000})
    }

    // (function () {
    //     $('#file').on('change', function () {
    //         var files = this.files,
    //             video = $('#video').find('video'),
    //             videoURL = null,
    //             windowURL = window.URL || window.webkitURL;
    //         ;
    //         if (files && files[0]) {
    //             videoURL = windowURL.createObjectURL(files[0]);
    //             $('#video').html('<video src="' + videoURL + '" controls="controls"></video>');
    //             setTimeout(function () {
    //                 createIMG();
    //             }, 500);
    //
    //         }
    //     }).trigger('change');


    // layui.use(['form', 'layer'], function () {
    //     var form = layui.form, layer = layui.layer, upload = layui.upload;
    //     // var upload = upload.render({
    //     //     elem: '#upload'
    //     //     , url: '/upload'
    //     //     , accept: 'video'
    //     //     , acceptMime: 'video/*'
    //     //     , done: function (res, index, upload) {
    //     //         if (res.code == 0) {//上传成功
    //     //             $("#div").html("<video src='" + res.data.src + "' controls='controls'>")
    //     //             $('#form').append("<input hidden name='img' value='" + res.data.src + "'>");
    //     //             setTimeout(function () {
    //     //                 createIMG();
    //     //             }, 500);
    //     //         }
    //     //     } //code为后台传回来的数据，具体多少自己定，
    //     //     //后台只能传回json格式数据，不然会走error函数；
    //     //     , error: function (index, upload) {
    //     //         console.log("index:" + index)
    //     //         console.log("upload:" + upload)
    //     //     }
    //     // });
    //     form.on('submit(add)', function (res) {
    //         console.log(res.field)
    //         // if (res.field.img == null) {
    //         //     layer.msg("请上图视频后提交");
    //         //     return;
    //         // }add
    //         $.ajax({
    //             type: 'POST',
    //             url: '/video/add',
    //             data: res.field,
    //             async: true,
    //             success: function (res) {
    //                 // if (res.code == 200) {
    //                 // }
    //             }
    //         })
    //
    //
    //         // $.ajax({
    //         //     type: 'POST',
    //         //     url: '/video/addVideo',
    //         //     data: res.field,
    //         //     async: true,
    //         //     success: function (res) {
    //         //         if (res.code == 200) {
    //         //             layer.alert(res.msg, {icon: 6}, function () {
    //         //                 // 获得frame索引
    //         //                 var index = parent.layer.getFrameIndex(window.name);
    //         //                 //关闭当前frame
    //         //                 parent.layer.close(index);
    //         //                 window.parent.location.reload();
    //         //             });
    //         //         } else if (res.code == 403) {
    //         //             layer.msg(res.msg);
    //         //             return;
    //         //         }
    //         //     }
    //         // })
    //         return false;
    //     })
    // })

</script>
</html>